// GLOBAL STYLES
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  background: #f3f4f5 !important;
}

.form-check {
  margin: 0 !important;
  padding: 0 !important;
}
